In [1]:
import pandas as pd

In [4]:
series=pd.Series(["toyota","honda","BMW"])

In [5]:
series

0    toyota
1     honda
2       BMW
dtype: object

In [6]:
print(series)

0    toyota
1     honda
2       BMW
dtype: object

In [7]:
#series-1D

colors=pd.Series(["red","blue","yellow"])
colors

0       red
1      blue
2    yellow
dtype: object

In [8]:
#Dataframe-2D

car_data=pd.DataFrame({"car make":series,"color":colors})
car_data

  car make   color
0   toyota     red
1    honda    blue
2      BMW  yellow